<div class="basis-1/12  p-10"style="background-color:black;">
  <h2 class="text-center text-white text-2xl mb-10 font-bold"style="font-family:cursive">ADD YOUR BLOGS</h2>
  <ul >
    <li style="text-align: center;">
      <a
        class="text-md py-3 px-5 rounded-md mb-3  inline-block text-white"
        href="/addpostpage" style="box-shadow:inset 0px 0px 40px 0px rgb(63, 101, 147);width:40%;text-align: center;"
        >Add Post</a
      >
    </li>
    
    <li style="text-align: center;">
      <a
        class="text-red text-md py-3 px-5 rounded-md mb-3  inline-block text-white"
        href="/logout" style="box-shadow:inset 0px 0px 40px 0px rgb(178, 97, 31); width:40%;text-align: center;"
        >Logout</a
      >
    </li>
    <li style="text-align: center;">
      <a
        class="text-white text-md py-3 px-5 rounded-md mb-3  inline-block "
        onclick="confirmDelete(event)"
        href="/deleteUser" style="box-shadow:inset 0px 0px 40px 0px rgb(195, 25, 25);width:40%;text-align: center;"
        >Delete Account</a
      >
    </li>
  </ul>
</div>

<script src="../../public/javascripts/deleteuser.js"></script>
