<header class="flex justify-between items-center p-5"style="background-color:black">
  <div class="flex justify-start items-center">
    <!-- <img class="inline-block h-20 w-20 rounded-full" src="/<%= user.image %> " alt="image" /> -->
    <h2 class="text-white text-4xl font-bold ms-10"></h2>
  </div>
  <div class="flex justify-end">
    <a class="block px-5 py-3 rounded-lg text-white me-3"style="box-shadow:inset 0px 0px 20px 0px rgb(77, 196, 152);" href="/"> Home</a>
    <a class="block px-5 py-3 rounded-lg text-white me-3"style="box-shadow:inset 0px 0px 20px 0px rgb(67,199,135);" href="/">Pages</a>
    <a class="block px-5 py-3 rounded-lg text-white me-3"style="box-shadow:inset 0px 0px 20px 0px rgb(77, 196, 152);;" href="/"> Search</a>
    <a class="block px-5 py-3 rounded-lg text-white me-3"style="box-shadow:inset 0px 0px 20px 0px rgb(37,99,235);" href="/myblogs"> ADD (blog)</a>
  </div>
</header>
